@model ProductModel;
@{
    var product = Model;
}

<h1>@product.Name</h1>
<table class="table">
    <tr>
        <th>Category</th>
        <td>@product.CategoryName</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@product.Description</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@product.Price</td>
    </tr>
</table>
<td><a asp-area="" asp-controller="Product" asp-action="Index">Back</a> </td>